{
  "extends": "google",
  "rules": {
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true
      }
    }]
  },
  globals: {
    /* MOCHA */
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  }
}
