{
  "parserOptions": {
   "ecmaVersion": 2017
  },
  "extends": "google",
  "rules": {
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true,
        "AssignmentExpression": true
      }
    }],
    "key-spacing": [2, {
      "align": "value"
    }],
    "max-nested-callbacks": [2,8],
    "no-var": 2,
    "max-len": [1, 140],
    "no-useless-escape": [0],
    "arrow-parens": ["error", "as-needed"],
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
